[project]
	description = to show people how git wooks
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/test30170
[access "refs/for/refs/*"]
	read = group user/test30170
	push = group user/test30170
	label-Code-Review = -2..+2 group user/test30170
	label-Verified = -1..+1 group user/test30170
	rebase = group user/test30170
	removeReviewer = group user/test30170
	submit = group user/test30170
[access "refs/heads/*"]
	read = group user/test30170
	create = group user/test30170
	push = +force group user/test30170
	pushMerge = group user/test30170
[access "refs/tags/*"]
	push = +force group user/test30170
	pushTag = group user/test30170
	pushSignedTag = group user/test30170
